body {
    margin: 0;
    padding: 0;
  }
  
  .nav {
    background-color: rgb(155, 147, 147);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .logo a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 2rem;
  }
  
  li a {
    color: #fff;
    text-decoration: none;
  }
  
  #login {
    background-color: #f2f2f2;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    width: 400px;
  }
  
  #login h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  #login p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #login input[type="text"] {
    padding: 0.5rem;
    width: 100%;
  }
  
  #login button {
    background-color: rgb(47, 145, 236);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
  }
  
  #login a {
    color: #333;
    text-decoration: none;
  }