# Dependencias
node_modules/

# Archivos de compilación
dist/
build/

# Archivos y directorios generados por el IDE
.vscode/
.idea/

# Archivos de registro y copias de seguridad
*.log
*.bak
*.swp

# Archivos de configuración de usuario
*.editorconfig
*.eslintrc
*.prettierrc

# Archivos de caché
*.cache

# Archivos de respaldo y temporales
*.bak
*.backup
*.tmp

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de aplicación
*.html
*.css
*.js
