/* Estilo de la barra de navegación */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.logo a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

li {
    font-size: 1.2rem;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    border-bottom: 2px solid #fff;
}

/* Estilo de la sección de perfil */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.perfil {
    display: flex;
    gap: 2rem;
}

.info img {
    background: url("../../../images/lion.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.486);
    order: 1;
    justify-self: center;
    width: 200px;
    height: 200px;
    animation: profile__animate 8s ease-in-out infinite 1s;
    border: 10px solid rgba(27, 0, 42, 0.2);
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;

    }
}


.info p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Estilo del pie de página */
.footer {
    background-color: #eee;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}