<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="../admin.css">
</head> 

<body>
    <div id="Encabezado">
        <h1>MuscleMate</h1>
    </div>

    <div id="login">
        <h2>Log In Account</h2>
            <form name="UserDataEntry" action="processor.html" method="get">
                <p>Username</p>
                <input type="text" name="txtUserName" id="txtUserName">
            </form>
            <form name="PassDataEntry" action="processor.html" method="get">
                <p>Password</p>
                <input type="text" name="txtPassword" id="txtPassword">
            </form>
            <a href="/menu" class="btn btn-info">SIGN IN </a>
            <p></p>
            <input type="checkbox">Remember Me</input>
            <p></p>
            <a href="/signin">Don't have account yet?</a>
    </div>
    <footer class="footer">
        <p>© 2023 Mi Sitio. Todos los derechos reservados.</p>
    </footer>
    </body>
    
    </html>