<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="../admin.css">
</head> 

<body>

    <nav class="nav">
        <div class="logo">
            <a href="#">Mi Sitio</a>
        </div>
        <ul>
            <li><a href="/">CRUD CLIENTES</a></li>
            <li><a href="/ejercicios">CRUD EJERCICIOS</a></li>
            <li><a href="/rutinas">CRUD RUTINAS</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
<body>
	<nav class="nav">
		<div class="logo">
			<a href="#">MySite</a>
		</div>
		<ul>
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Perfil</a></li>
			<li><a href="#">Configuración</a></li>
			<li><a href="#">Cerrar Sesión</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="perfil">
			<div class="info">
                <img src="https://images.pexels.com/photos/3104709/pexels-photo-3104709.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Foto de perfil">
				<p>Nombre: Juan Perez</p>
				<p>País: País</p>
				<p>Correo electrónico: correo@electronico.com</p>
				<p>Nombre de usuario: usuario123</p>
				<p>Peso actual: 75kg</p>
				<p>Peso deseado: 70kg</p>
				<p>Fecha de registro: 10 de marzo, 2022</p>
			</div>
		</div>
	</div>
	
	<footer class="footer">
        <p>© 2023 Mi Sitio. Todos los derechos reservados.</p>
    </footer>
    </body>
    
    </html>
