/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

 

/* Colores */
:root {
  --primary-color: #2196F3; /* tono azul */
  --secondary-color: #EFEFEF; /* tono gris claro */
  --tertiary-color: #333; /* tono gris oscuro */
}

 

/* Estilos de la navbar */
.navbar {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

 

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s ease;
}

 

.navbar-brand:hover {
  color: var(--secondary-color);
}

 

.navbar-toggler {
  border-color: #fff;
}

 

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.3s ease;
}

 

.nav-link:hover {
  color: var(--secondary-color);
}

 

/* Estilos para el menú responsive */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

 

.navbar-collapse {
  background-color: var(--tertiary-color);
  padding: 1rem;
}

 

.dropdown-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.3s ease;
}

 

.dropdown-item:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

 

/* Media queries */
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    padding: 0.5rem;
  }

  .navbar-nav {
    margin: 0.5rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .dropdown-item {
    font-size: 1rem;
  }
}